<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044942354361-q8t9rcninge71cap8htqg8qtakguvvso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044942354361-q8t9rcninge71cap8htqg8qtakguvvso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044942354361-jpeg2k0ensqmnsvkjb225f1adik962r2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKWrWgJ11DVgQJJRVQSVwOltd2B9-FBOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1044942354361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhelpuritech.sketchbook</string>
	<key>PROJECT_ID</key>
	<string>sketchbook-eadcd</string>
	<key>STORAGE_BUCKET</key>
	<string>sketchbook-eadcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044942354361:ios:b9718787cb3e2391012868</string>
</dict>
</plist>